<h1>Product List</h1>

<form action="/products" method="post">
  <label for="product_name">Enter Product Name:</label>
  <input type="text" name="product_name" id="product_name">

  <label for="cost">Enter Price of Product:</label>
  <input type="text" name="cost" id="cost">

  <button type="submit">Add Product</button>
</form>
